.App {
    text-align: center;
    font-family: Arial, sans-serif;
    margin: 20px;
}

.App-header {
    background-color: #282c34;
    padding: 20px;
    color: white;
}

table {
    margin: auto;
    border-collapse: collapse;
    width: 80%;
}

table,
th,
td {
    border: 1px solid #ddd;
}

th,
td {
    padding: 8px;
    text-align: center;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}
